.item {
  display: flex;
  justify-content: center;
  min-width: 100%;
  padding: 1rem;
  height: 450px;
}

@media (min-width: 360px) {
  .item {
    height: 500px;
  }
}

@media (min-width: 420px) {
  .item {
    height: 600px;
  }
}

@media (min-width: 576px) {
  .item {
    min-width: 50%;
    height: 450px;
  }
}

@media (min-width: 768px) {
  .item {
    min-width: 33.33%;
  }
}

@media (min-width: 992px) {
  .item {
    min-width: 33.33%;
    height: 480px;
  }
}

@media (min-width: 1200px) {
  .item {
    min-width: 33.33%;
  }
}

@media (min-width: 1400px) {
  .item {
    min-width: 25%;
  }
}

.item img {
  border-radius: var(--border-radius);
  filter: grayscale(30%);
  height: 100%;
  max-height: 600px;
  pointer-events: none;
  width: 100%;
}

@media (min-width: 420px) {
  .item img {
    max-width: 420px;
  }
}

@media (min-width: 576px) {
  .item img {
    max-height: 480px;
  }
}

@media (min-width: 992px) {
  .item img {
    max-height: 550px;
  }
}

@media (min-width: 1200px) {
  .item img {
    max-height: 450px;
  }
}

@media (min-width: 1600px) {
  .item img {
    max-height: 480px;
  }
}

.inner_carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}
