.container {
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 75%;
  }
}

.title {
  font-size: 3rem;
  margin: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem;
}
