.container {
  align-items: center;
  background-color: #111;
  color: var(--text-color);
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
}

@media (min-width: 992px) {
  .container {
    padding: 0 2rem;
  }
}
