@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(15, 15, 15);
  --secondary-color: #d3df37;
  --tertiary-color: rgba(255, 255, 255, 0.6);
  --text-color: #fff;
  --border-radius: 0.8rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  overflow: hidden;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

hr {
  margin: 2rem auto;
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}
