.container_main {
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
  background: linear-gradient(rgba(4, 5, 2, 0.8), rgba(4, 5, 2, 0.8)),
    url(../assets/images/img_welcome.jpg) no-repeat center center fixed;
  background-size: cover;
}

.main {
  /* display: flex;
  justify-content: center; */
  padding: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* min-height: 100vh; */
}

@media (min-width: 992px) {
  .main {
    padding: 2rem;
  }
}
